# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Pytest
# ==========================================
.pytest_cache/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Build Files
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db